{% extends 'buscador/home.html' %}
{% load static %}

{% block contenido %}

<div class="col-sm-10">
    <div class="row">
      <div class="col-sm-12 imagen-perfil">
        
        <div class="panel panel-default panel-body">
            <div class="col-sm-2 image-a">{% if perfil.IMAGEN %}
                <img src="{{ perfil.IMAGEN.url }}" class="imagen-a">
                {% else %}
                <img src="{% static 'images/default-image.png' %}" class="imagen-funcionario-b">
                {% endif %}</td></div>
            <div class="col-sm-6 row-perfil"><div class="row nombre-b">{{ perfil }}</div></div>
            <div class="col-sm-4 unidad-c">
                <div class="row">
                    <p>Unidad: {{ perfil.UO_ID }}</p>
                    <p>Fecha Contratación: {{ perfil.FECHA_CONTRATACION }}</p>
                    <p>Estado: {% if activo.ACTIVO %}
                        Inactivo
                        {% else %}
                        Activo
                        {% endif %}</p>
                </div>
            </div>
        </div>
      </div>
    </div>

    {% block carpetas %}{% endblock %}
</div>
{% endblock %}