<!-- login_modal.html -->
<!DOCTYPE html>
{% load static %}
{%load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestor Documental IPS: Inicio</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Login</title>
</head>
<body class="body-login">
    <div id="modal-login" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Gestor Documental IPS</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" name="username" placeholder="Usuario" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" name="password" placeholder="Contraseña" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-login">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>
<script>
    $( document ).ready(function() {
    $('#modal-login').modal('show')
});
</script>



<!-- 
<div class="overlay-login">
        <div class="modal-login">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Ingresar</button>
            </form>
        </div>
    </div>

